:root {
    --grid-color: #40b5e5;
}

.image-wrap {
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
}

.image-wrap-right {
    float: right;
    margin-left: 20px;
    margin-bottom: 10px;
}

.image-half {
    max-width: 50%;
}

.image-40 {
    max-width: 40%;
}

.image-third {
    max-width: 33%;
}

.image-quarter {
    max-width: 25%
}

.image-full {
    width: 100%;
}

// Hack to clear wrapping before each title
h2:before,
h3:before {
    content: "";
    display: table;
    clear: both;
}

.jmac-logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    max-height: 75%;
    z-index: 2;

    &.reflection {
        transform: translate(-50%, 79%) scaleY(-1);
        z-index: 0;
        opacity: 0.2;
    }
}
/** Animated background gradient **/
.animated-gradient-bg {
    background: linear-gradient(45deg, #000020, #300030, #500040, #300030, #000020); /* Dark purple/blue base */
    background-size: 400% 400%;
    animation: gradientShift 15s ease infinite;
}

@keyframes gradientShift {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}
