.image-wrap {
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
}

.image-wrap-right {
    float: right;
    margin-left: 20px;
    margin-bottom: 10px;
}

.image-half {
    max-width: 50%;
}

.image-40 {
    max-width: 40%;
}

.image-third {
    max-width: 33%;
}

.image-quarter {
    max-width: 25%
}

.image-full {
    width: 100%;
}

.centered-text {
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 2rem;
}

// Hack to clear wrapping before each title
h2:before,
h3:before {
    content: "";
    display: table;
    clear: both;
}

.background-container {
    position: absolute;
    width: 100vw;
    height: 100vh;
}

.foreground-container {
    position: absolute;
    width: 100vw;
    height: 100vh;
}

.jmac-logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    max-width: 50%;
    z-index: 2;

    &.reflection {
        transform: translate(-50%, 79%) scaleY(-1);
        z-index: 0;
        opacity: 0.2;
    }
}

.jmac-scary {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
    max-height: 75%;
    transform: translateY(9%); // Only here because GIMP is shit and not exporting correct image bounds
}
