.post-list {

    margin-inline-start: 0 !important;
    margin-top: 3rem !important;

    .post-list-item {
        list-style: none;
        margin-bottom: 3rem;
    }

    h3 {
        a {
            color: #f7a7ed;
        }
        small span {
            color: cyan;
        }
    }

    .post-thumbnail {
        a, img {
            width: 100%;
        }
    }
}
