<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{%- include head-landing.html -%}

    <body class="gradient-bg" style="position: relative;">

        <div class="background-container">
            <div class="grid-container" style="z-index: 1"></div>

<!--            <div class="decorative-triangle xxx" style="position: absolute; top: 0; left: 0;"></div>-->

            <img src="/assets/img/jmac-kool-logo-1-transparent-2.png" class="jmac-logo" style="z-index: 2; top: 0;"/>
            <img src="/assets/img/jmac-kool-logo-1-transparent-2.png" class="jmac-logo reflection" style="z-index: 0; top: 0;"/>
        </div>

        <div class="foreground-container">
            <img src="/assets/img/jmac-scary-cutout.png" class="jmac-scary"/>

            <div class="centered-text" style="z-index: 1; top: 80%">
                <span class="flicker-text neon-text-cyan">
                    Full-stack web developer
                </span>
                <span class="neon-text-pink">
                    &bull;&nbsp;Fun-stacked game developer
                </span>
            </div>
        </div>
    </body>

</html>
