---
layout: page-retro
---

{{content}}

<form
    action="https://formspree.io/f/xzzroozz"
    method="POST"
>
    <div class="field">
        <label class="label">Email</label>

<!--        <div class="control has-icons-left has-icons-right">-->
        <div class="control">
            <input
                type="email"
                class="input"
                value=""
            >
        </div>
    </div>

    <div class="field">
        <label class="label">Subject</label>
        <div class="control">
            <input
                name="subject"
                class="input"
                type="text"
            >
        </div>
    </div>

    <div class="field">
        <label class="label">Message</label>
        <div class="control">
            <textarea
                class="textarea"
                placeholder=""
                name="message"
            ></textarea>
        </div>
    </div>

    <div class="field is-grouped">
        <div class="control">
            <button type="submit" class="button is-link">Submit</button>
        </div>
    </div>
</form>
